/* NAVBAR*/
/* HOME */
/* FOOTER */
/* BUTTON COLORS */
/*background image */
/*flexbox */
/*link colors */
/*primary button*/
/*submit/success button */
/*page transition fade-in*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#mobnav {
  background-color: rgba(0, 0, 0, 0.25) !important;
  padding: 20px; }
  #mobnav .nav-link {
    color: #212121; }
    #mobnav .nav-link:visited {
      color: #212121; }
    #mobnav .nav-link:hover {
      color: #AA076B; }
    #mobnav .nav-link:active {
      color: #fff; }
  #mobnav .navbar-brand {
    color: #AA076B;
    margin-right: 0; }
    #mobnav .navbar-brand img {
      width: 20%;
      margin-right: 20px; }
  #mobnav .navbar-toggler {
    color: #AA076B;
    border-color: rgba(0, 0, 0, 0); }
    #mobnav .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(170,7,107)' stroke-width='3' stroke-linecap='straight' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  #mobnav #navbarNavAltMarkup a.nav-item.nav-link.active {
    color: #93025C; }

/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 2500px) {
  #mobnav {
    background-color: rgba(0, 0, 0, 0.15) !important;
    height: 82px;
    width: 100vw; }
    #mobnav .navbar-brand {
      color: #AA076B;
      margin-right: 0; }
      #mobnav .navbar-brand img {
        width: 20%;
        margin-right: 20px; }
    #mobnav .navbar-toggler {
      color: #AA076B;
      border-color: rgba(0, 0, 0, 0); }
      #mobnav .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(170,7,107)' stroke-width='3' stroke-linecap='straight' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
    #mobnav #navbarNavAltMarkup a.nav-item.nav-link.active {
      color: #fff; } }
footer {
  width: 100vw;
  min-height: 245px;
  margin: 0 auto !important;
  padding: 20px 10px 10px 10px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2;
  background-color: #f6f6f6;
  color: #5e3858; }
  footer a {
    color: #AC88AD; }
    footer a:visited {
      color: #AC88AD; }
    footer a:hover {
      color: #DE0D92; }
    footer a:active {
      color: #ca9ab5; }
  footer .phonenum {
    color: #5e3858; }
  footer .fab {
    font-size: 1.25rem;
    color: #AC88AD;
    margin: 5px 10px 16px; }
    footer .fab:hover {
      color: #DE0D92; }
  footer .contact-links {
    margin: 10px 0; }

/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px) {
  footer {
    min-height: 194px; }
    footer .contact-links {
      margin: 15px 0; }
    footer .jalika {
      text-align: right; }
    footer .shennice {
      text-align: left; } }
/*TABLET LANDSCAPE*/
@media only screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape) {
  footer {
    min-height: 194px; }
    footer .contact-links {
      margin: 15px 0; }
    footer .jalika {
      text-align: right; }
    footer .shennice {
      text-align: left; } }
/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  footer {
    min-height: 194px; }
    footer .contact-links {
      margin: 15px 0; }
    footer .jalika {
      text-align: right; }
    footer .shennice {
      text-align: left; } }
body main .button-container {
  margin: 30px auto;
  width: 80%; }
  body main .button-container #cta-button {
    background-color: #DE0D92;
    border-color: #DE0D92; }
    body main .button-container #cta-button:hover {
      background-color: #E439A5;
      border-color: #E439A5; }
body main .form-button {
  /*margin: 0 auto;*/ }
  body main .form-button #send-button {
    background-color: #DE0D92;
    border-color: #DE0D92; }
    body main .form-button #send-button:hover {
      background-color: #E439A5;
      border-color: #E439A5; }
  body main .form-button #send-button {
    width: 100%;
    margin: 0 auto; }

@media only screen and (min-width: 2501px) and (max-width: 3000px) {
  body main .form-button {
    /*margin: 0 auto;*/ }
    body main .form-button #send-button {
      background-color: #DE0D92;
      border-color: #DE0D92; }
      body main .form-button #send-button:hover {
        background-color: #E439A5;
        border-color: #E439A5; }
    body main .form-button #send-button {
      width: 100%;
      margin-top: 15px; } }
#testimonials {
  background-color: white;
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch; }
  #testimonials #carouselExampleIndicators {
    height: 450px; }
    #testimonials #carouselExampleIndicators .carousel-inner {
      width: 100%;
      height: 400px;
      margin: 20px auto 0 auto; }
      #testimonials #carouselExampleIndicators .carousel-inner .carousel-item,
      #testimonials #carouselExampleIndicators .carousel-inner .active {
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 25px auto 50px auto;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
        #testimonials #carouselExampleIndicators .carousel-inner .carousel-item p,
        #testimonials #carouselExampleIndicators .carousel-inner .active p {
          width: 80%;
          margin: 0 auto 10px auto;
          line-height: 1.8;
          vertical-align: middle; }
        #testimonials #carouselExampleIndicators .carousel-inner .carousel-item small,
        #testimonials #carouselExampleIndicators .carousel-inner .active small {
          color: #ccc; }

.carousel-indicators {
  margin-top: 30px; }
  .carousel-indicators li {
    background-color: #AA076B; }

/* 
================================================================= */
/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px) {
  #testimonials {
    height: 400px; }
    #testimonials #carouselExampleIndicators {
      height: 400px; }
      #testimonials #carouselExampleIndicators .carousel-inner {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        padding: 80px 0; }

  .carousel-indicators li {
    background-color: #AA076B; } }
/*TABLET LANDSCAPE*/
/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 2500px) {
  #testimonials {
    height: 400px;
    margin-bottom: 80px; }
    #testimonials #carouselExampleIndicators {
      height: 400px; }
      #testimonials #carouselExampleIndicators .carousel-inner {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        padding: 80px 0; }
    #testimonials .carousel-indicators li {
      background-color: #AA076B; } }
body {
  max-width: 640px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  overflow-x: hidden;
  flex-flow: column nowrap;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  background-image: url("../img/home-mob.png");
  background-repeat: no-repeat;
  background-size: auto !important;
  -o-background-size: auto !important;
  -moz-background-size: auto !important;
  -webkit-background-size: auto !important; }
  body #deskintro {
    display: none; }
  body header {
    width: 100%;
    height: auto;
    flex: 1 1 100%; }
  body main {
    width: 100%;
    height: auto;
    flex: 1 1 100%; }
    body main #intro {
      max-width: 100%;
      height: 600px;
      text-align: center;
      display: table;
      -webkit-animation: fadein 2s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s;
      /* Firefox < 16 */
      -ms-animation: fadein 2s;
      /* Internet Explorer */
      -o-animation: fadein 2s;
      /* Opera < 12.1 */
      animation: fadein 2s; }
      body main #intro #intro-overlay {
        max-width: 100%;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.15);
        text-align: center;
        display: table; }
        body main #intro #intro-overlay h1 {
          width: 100%;
          margin: 0 auto;
          display: block;
          padding: 0 10px;
          font-size: 2.8rem;
          color: white;
          vertical-align: middle;
          display: table-cell; }

/* ================================================================= */
/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 628px;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-size: auto !important;
    -o-background-size: auto !important;
    -moz-background-size: auto !important;
    -webkit-background-size: auto !important; }
    body main #intro #intro-overlay h1 {
      font-size: 4rem; }
    body #testimonials .carousel-inner {
      height: 450px;
      padding: 100px 0 80px; } }
/*TABLET LANDSCAPE*/
@media only screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape) {
  #testimonials .carousel-inner {
    padding: 130px 0 80px; } }
/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  body {
    max-width: 1280px;
    min-width: 1025px;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-size: auto !important;
    -o-background-size: auto !important;
    -moz-background-size: auto !important;
    -webkit-background-size: auto !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    body main #intro {
      height: 670px;
      background-color: rgba(0, 0, 0, 0.15);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center; }
      body main #intro #intro-overlay {
        display: none; }
      body main #intro #deskintro {
        display: block;
        width: 50%;
        margin: 0;
        padding: 0 50px 0 0;
        text-align: right;
        line-height: 1.7;
        font-size: 3.75rem;
        font-weight: bold;
        color: white; } }
/*DESKTOP HI-RES*/
@media only screen and (min-width: 1281px) and (max-width: 3000px) {
  body {
    max-width: 2500px;
    min-width: 1281px;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-size: contain !important;
    -o-background-size: contain !important;
    -moz-background-size: contain !important;
    -webkit-background-size: contain !important;
    background-position: top center; }
    body main #intro {
      height: 670px;
      background-color: rgba(0, 0, 0, 0.15);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center; }
      body main #intro #intro-overlay {
        display: none; }
      body main #intro #deskintro {
        display: block;
        width: 50%;
        margin: 0;
        padding: 0 50px 0 0;
        text-align: right;
        line-height: 1.7;
        font-size: 3.75rem;
        font-weight: bold;
        color: white; }
    body main #testimonials {
      margin-bottom: 0;
      padding-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
