/* COLORS */
/* FOOTER */
/* BACKGROUND */
/* BUTTONS */
/*background image */
/*flexbox */
/*links */
/*primary button*/
/*submit/success button */
/* COLORS */
/* FOOTER */
/* BACKGROUND */
/* BUTTONS */
#mobnav {
  background-color: rgba(159, 24, 108, 0.92) !important; }
  #mobnav .navbar-brand {
    color: white;
    margin-right: 0px; }
    #mobnav .navbar-brand img {
      width: 20%;
      margin-right: 20px; }
  #mobnav .navbar-toggler {
    color: white;
    border-color: rgba(0, 0, 0, 0); }
    #mobnav .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  #mobnav #navbarNavAltMarkup a.nav-item.nav-link.active {
    color: white; }

/* COLORS */
/* FOOTER */
/* BACKGROUND */
/* BUTTONS */
footer {
  width: 100%;
  height: 174px;
  margin: 0 auto;
  bottom: 0;
  padding: 20px 10px 10px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2;
  background-color: #F8F9F9;
  color: #5e3858; }
  footer a {
    color: #AC88AD; }
    footer a:visited {
      color: #AC88AD; }
    footer a:hover {
      color: #330d22; }
    footer a:active {
      color: #ca9ab5; }
  footer .phonenum {
    color: #5e3858; }
  footer .fab {
    font-size: 1.25rem;
    color: #AC88AD;
    margin: 0 10px 16px; }
    footer .fab:hover {
      color: #330d22; }

body {
  background-image: none;
  background-color: #F8F9F9;
  max-width: 640px;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  body main .button-container {
    margin: 25px auto 0;
    width: 90%; }
    body main .button-container #cta-button {
      background-color: #E345A2;
      border-color: #E345A2; }
      body main .button-container #cta-button:hover {
        background-color: #CF3F94;
        border-color: #CF3F94; }
  body main .form-button #send-button {
    background-color: #E345A2;
    border-color: #E345A2; }
    body main .form-button #send-button:hover {
      background-color: #CF3F94;
      border-color: #CF3F94; }
  body main .form-button #send-button {
    width: 100%;
    margin: 0 auto; }

/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px) {
  main .button-container {
    padding: 30px 150px 10px 150px; }
  main .form-button #send-button {
    width: 100%;
    margin: 0 auto; } }
/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  main .button-container {
    padding: 15px 20px 0 20px; }
  main .form-button #send-button {
    width: 100%;
    margin: 0 auto; } }
#form-container {
  max-width: 90%;
  height: auto;
  margin: 0 auto; }
  #form-container .controls .form-control {
    font-size: 0.9rem; }
  #form-container .controls .form-group {
    margin-bottom: 10px; }
    #form-container .controls .form-group .form-group li,
    #form-container .controls .form-group .has-danger li,
    #form-container .controls .form-group .has-error li,
    #form-container .controls .form-group .help-block li,
    #form-container .controls .form-group .with-errors li {
      font-size: 0.8rem;
      padding-left: 5px; }
  #form-container .controls #submit-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center; }

/* COLORS */
/* FOOTER */
/* BACKGROUND */
/* BUTTONS */
/*background image */
/*flexbox */
/*links */
/*primary button*/
/*submit/success button */
body {
  background-image: none;
  background-color: white;
  max-width: 640px;
  min-width: 320px;
  min-height: calc(100vh - 174px);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  body #mobnav {
    background-color: #A0186C !important; }
  body main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 25px 0; }
    body main .p-content {
      width: 100%;
      text-align: justify;
      text-justify: inter-word; }
      body main .p-content .p-text h1 {
        color: #330d22;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 16px; }
      body main .p-content .p-text p {
        line-height: 1.5;
        font-size: 1rem;
        margin: 0;
        padding: 0 25px; }
      body main .p-content .p-text .contactp {
        margin: 12.8px 0; }
      body main .p-content .p-text img {
        max-width: 100%;
        padding: 25px 0;
        margin: 0 auto; }

/* ================================================= */
/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 628px; }
    body main {
      width: 85%;
      padding: 50px 25; }
      body main .p-content {
        width: 100%;
        text-align: justify;
        text-justify: inter-word; }
        body main .p-content .p-text h1 {
          color: #A0186C;
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 16px; }
        body main .p-content .p-text p {
          font-size: 1rem;
          padding: 0; } }
/*TABLET LANDSCAPE*/
@media only screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    max-width: 1024px;
    min-width: 628px; }
    body main {
      width: 85%;
      padding: 50px 25px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch; }
      body main .p-content img {
        margin: 0 auto; } }
/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 2500px) {
  body {
    max-width: 1280px;
    min-width: 1025px; }
    body main {
      width: 100%;
      min-height: 768px;
      padding: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      body main .p-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        body main .p-content #who-left {
          background-image: url("../img/who-we-are.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        body main .p-content #what-left {
          background-image: url("../img/what-we-do-1.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        body main .p-content #contact-left {
          background-image: url("../img/contact-us.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        body main .p-content .p-left {
          display: block;
          width: 50%;
          min-height: 100%;
          flex: 1 1 50%; }
        body main .p-content .p-text {
          max-width: 50%;
          height: 100%;
          overflow-y: scroll;
          text-align: justify;
          flex: 1 1 50%;
          padding: 60px 60px;
          margin: 0 auto; }
          body main .p-content .p-text img {
            display: none; }
          body main .p-content .p-text h1 {
            font-size: 1.9rem;
            padding-bottom: 20px; }
          body main .p-content .p-text .paragraphs {
            height: auto; }
            body main .p-content .p-text .paragraphs p {
              font-size: 1rem;
              padding: 0 0 30px 0; }
          body main .p-content .p-text .button-container {
            margin: 0 auto; } }
/*DESKTOP HI-RES
@media only screen and (min-width: 1281px) and (max-width: 2500px) {

  body {
    min-width: 1281px;

    main {
      width: 95%;
      height: 100%;
      @include flex(flex, column nowrap, center, center);

      .p-content {
        width: 100%;
        height: 100%;
        @include flex(flex, row nowrap, space-between, center);

        #who-left {
          @include bg-img('../img/who-we-are.png', no-repeat, cover);
          background-position: center;
        }
        #what-left {
          @include bg-img('../img/what-we-do-1.png', no-repeat, cover);
          background-position: center;
        }
        #contact-left {
          @include bg-img('../img/contact-us.png', no-repeat, cover);
          background-position: center;
        }

        .p-left {
          display: block;
          width: 50%;
          min-height: 100%;
          flex: 1 1 50%;
          padding-left: 20px;
        }
        .p-text {
          max-width: 50%;
          height: 487px;
          overflow-y: scroll;
          text-align: justify;
          flex: 1 1 50%;
          padding-left: 40px;
          margin: 0 auto;

          img {
            display: none;
          }

          h1 {
            font-size: 1.9rem;
            padding-bottom: 20px;
          }

          p {
            font-size: 1rem;
            padding: 0;
          }
        }
      }
    }
  }s
}*/

/*# sourceMappingURL=pages.css.map */
