@import "../base/variables";
@import "../base/mixins";

body {
  background-image: none;
  background-color: #fff;
  max-width: 640px;
  min-width: 320px;
  min-height: calc(100vh - 174px);
  margin: 0 auto;
  @include flex(flex, column nowrap, flex-start, stretch);

  #mobnav {
    background-color: $nav-color !important;
    border-bottom: 1px solid #f6f6f6;
    .navbar-brand {
      color: white;
    }
    .navbar-toggler {
      color: white;
      border-color: rgba(0, 0, 0, 0);
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='straight' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }

    #navbarNavAltMarkup {
      a.nav-item.nav-link.active {
        color: white;
      }

  }
}


  main {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;


    .p-content {
      width: 100%;
      text-align: justify;
      text-justify: inter-word;
      .p-left {

      }
      .p-text {
        h1 {
          color: #330d22;
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 16px;
        }

        p {
          line-height: 1.5;
          font-size: 1rem;
          margin: 0;
          padding: 0 25px;
        }

        .contactp {
          margin: 12.8px 0;
        }

        img {
          max-width: 100%;
          padding: 25px 0;
          margin: 0 auto;
        }
      }
    }
  }
}

/* ================================================= */

/*TABLET PORTRAIT*/
@media only screen and (min-width: 628px) and (max-width: 1024px)  {

  body {
    max-width: 1024px;
    min-width: 628px;

    main {
      width: 85%;
      padding: 50px 25;

      .p-content {
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
        .p-left {

        }
        .p-text {
          h1 {
            color: $primary-color;
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 16px;
          }

          p {
            font-size: 1rem;
            padding: 0;
          }
        }
      }
    }
  }
}


/*TABLET LANDSCAPE*/
@media only screen and (min-width: 628px) and (max-width: 1024px) and (orientation: landscape)  {
  body {
    max-width: 1024px;
    min-width: 628px;

    main {
      width: 85%;
      padding: 50px 25px;
      @include flex(flex, column nowrap, center, stretch);

      .p-content img {
          margin: 0 auto;
      }
    }
  }
}


/*DESKTOP*/
@media only screen and (min-width: 1025px) and (max-width: 2500px) {

  body {
    max-width: 1280px;
    min-width: 1025px;

    #mobnav {
      background-color: rgba(0, 0, 0, 0) !important;
      border-bottom: 1px solid #f6f6f6;
      .navbar-brand {
        color: $nav-color;
      }
      .navbar-toggler {
        color: $nav-color;
        border-color: rgba(0, 0, 0, 0);
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(159, 24, 108)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }

      #navbarNavAltMarkup {
        a.nav-item.nav-link.active {
          color: $nav-color;
        }

    }
  }

    main {
      width: 100%;
      min-height: 768px;
      padding: 0;
      @include flex(flex, column nowrap, center, center);

      .p-content {
        width: 100%;
        height: 100%;
        @include flex(flex, row nowrap, space-between, center);

        #who-left {
          @include bg-img('../img/who-we-are.png', no-repeat, cover);
          background-position: center;
        }
        #what-left {
          @include bg-img('../img/what-we-do-1.png', no-repeat, cover);
          background-position: center;
        }
        #contact-left {
          @include bg-img('../img/contact-us.png', no-repeat, cover);
          background-position: center;
        }

        .p-left {
          display: block;
          width: 55%;
          min-height: 100%;
          flex: 1 1 50%;
        }
        .p-text {
          max-width: 45%;
          height: 100%;
          overflow-y: scroll;
          text-align: justify;
          flex: 1 1 50%;
          padding: 60px 60px;
          margin: 0 auto;

          img {
            display: none;
          }

          h1 {
            font-size: 1.9rem;
            padding-bottom: 20px;
          }
          .paragraphs {
            height: auto;
            p {
              font-size: 1rem;
              padding: 0 0 30px 0;
            }
          }
          .button-container {
            margin: 0 auto;
          }
        }
      }
    }
  }
}


/*DESKTOP HI-RES
@media only screen and (min-width: 1281px) and (max-width: 2500px) {

  body {
    min-width: 1281px;

    main {
      width: 95%;
      height: 100%;
      @include flex(flex, column nowrap, center, center);

      .p-content {
        width: 100%;
        height: 100%;
        @include flex(flex, row nowrap, space-between, center);

        #who-left {
          @include bg-img('../img/who-we-are.png', no-repeat, cover);
          background-position: center;
        }
        #what-left {
          @include bg-img('../img/what-we-do-1.png', no-repeat, cover);
          background-position: center;
        }
        #contact-left {
          @include bg-img('../img/contact-us.png', no-repeat, cover);
          background-position: center;
        }

        .p-left {
          display: block;
          width: 50%;
          min-height: 100%;
          flex: 1 1 50%;
          padding-left: 20px;
        }
        .p-text {
          max-width: 50%;
          height: 487px;
          overflow-y: scroll;
          text-align: justify;
          flex: 1 1 50%;
          padding-left: 40px;
          margin: 0 auto;

          img {
            display: none;
          }

          h1 {
            font-size: 1.9rem;
            padding-bottom: 20px;
          }

          p {
            font-size: 1rem;
            padding: 0;
          }
        }
      }
    }
  }s
}*/
