/*background image */
@mixin bg-img($url, $repeat, $size) {
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $size;
  -o-background-size: $size;
  -moz-background-size: $size;
  -webkit-background-size: $size;
}

/*flexbox */
@mixin flex($display, $flow, $j-content, $a-items) {
  display: $display;
  flex-flow: $flow;
  justify-content: $j-content;
  align-items: $a-items;
}

/*link colors */
@mixin links($color, $vcolor, $hcolor, $acolor) {
  color: $color;
    &:visited { color: $vcolor;}
    &:hover { color: $hcolor;}
    &:active { color: $acolor;}
}

/*primary button*/
@mixin buttons ($primary, $p-border, $hover, $h-border) {
  #cta-button {
    background-color: $primary;
    border-color: $p-border;

    &:hover {
      background-color: $hover;
      border-color: $h-border;
    }
  }
}

/*submit/success button */
@mixin success-buttons ($sprimary, $sp-border, $shover, $sh-border) {
  #send-button {
    background-color: $sprimary;
    border-color: $sp-border;

    &:hover {
      background-color: $shover;
      border-color: $sh-border;
    }
  }
}
