$primary-color: #9f186c;
$secondary-color: #A0186C;
$h1-color: #696969;
$error: #FF3562;

/* FOOTER */
$footer-background-color: #f6f6f6;
$footer-text-color: #5e3858;
$links-icon-f: #AC88AD;
$links-icon-fh: #330d22;

/* HOME */
$home-bgoverlay: rgba(0, 0, 0, 0.15);

/* BUTTON COLORS */
$button-primary: #E345A2;
$button-hover: #CF3F94;


/*$button-primary: #E345A2;
$button-hover: #CF3F94;*/
