$primary-color: #AA076B;
$secondary-color: #A0186C;
$error: #FF3562;

/* NAVBAR*/
$navbar-home-color: rgba(0, 0, 0, 0.25);
$navbar-pages-color: #f6f6f6;
$navbar-active-link: #93025C;

/* HOME */
$home-bgoverlay: rgba(0, 0, 0, 0.15);

/* FOOTER */
$footer-background-color: #f6f6f6;
$footer-text-color: #5e3858;
$links-icon-f: #AC88AD;
$links-icon-fh: #DE0D92;

/* BUTTON COLORS */
$button-primary: #DE0D92;
$button-hover: #E439A5;

/* 404 PAGE */
$background-gradient: #61045F;
$four-text-color: #D1D1D1;
$four-links-icon-f: #DE0D92;
$four-links-icon-fh: #330d22;