/* COLORS */
$primary-color: #8C225D;
$nav-color: rgba(140, 34, 93, 0.92);

/* FOOTER */
$footer-purple: #7B4C73;
$icon-purple: #AC88AD;

/* BACKGROUND */
$pages-bgcolor: #F4F6F7;
$bg-overlay: rgba(0, 0, 0, 0.15);

/* BUTTONS */
$button-primary: #E345A2;
$button-hover: #CF3F94;
