#form-container {
  max-width: 90%;
  height: auto;
  margin: 0 auto;

  .controls {
    .form-control {
      font-size: 0.9rem;
    }

    .form-group {
      margin-bottom: 10px;

      .form-group,
      .has-danger,
      .has-error,
      .help-block,
      .with-errors {
        li {
          font-size: 0.8rem;
          padding-left: 5px;
        }
      }
    }
    #submit {
      width: 100%;
      @include flex(flex, column nowrap, flex-start, center);
      .g-recaptcha {
        margin: 0 auto;
      }
    }
  }
}
