@import "../base/variables";

footer {
  width: 100%;
  height: 174px;
  margin: 0 auto;
  bottom: 0;
  padding: 20px 10px 10px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2;
  background-color: #f6f6f6;
  color: #5e3858;

  a {
    @include links(#AC88AD, #AC88AD, #330d22, #ca9ab5);
  }

  .phonenum {
    color: #5e3858;
  }

  .fab {
    font-size: 1.25rem;
    color: $icon-purple;
    margin: 0 10px 16px;

    &:hover {
      color: #330d22;
    }
  }
}
