footer {
  width: 100%;
  height: 175px;
  margin: 0 auto;
  bottom: 0;
  padding: 20px 10px 10px;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2;
  background-color: $footer-background-color;
  color: $footer-text-color;

  a {
    @include links($links-icon-f, $links-icon-f, $links-icon-fh, #ca9ab5);
  }

  .phonenum {
    color: $footer-text-color;
  }

  .fab {
    font-size: 1.25rem;
    color: $links-icon-f;
    margin: 0 10px 16px;

    &:hover {
      color: $links-icon-fh;
    }
  }
}
